<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/sankey.js"></script>

<label for="item_filter">Search</label><input type="text" class="search_bar" id="item_filter" />
<div id="contentfield">
</div>

<div style="clear:both"></div>

<div>
	<input type="button" id="generatelist" value="Generate List"/>
</div>

<div id="chart">
	Chart Here
</div>