<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/sankey.js"></script>

<div id="content_field">
	<div class="search_bar">
		<div class='hide_unused_wrapper'><input type="checkbox" id="unused_hide_checkbox" class="hide_unused_checkbox"> <label class="hide_unused_label" for="unused_hide_checkbox">Hide Unused</label></div>
		<label class="search_label" for="item_filter">Search Items&nbsp;</label><span class="search_box_wrapper"><input type="text" class="search_box" id="item_filter" />  </span></div>

</div>
	<div style="clear:both"></div>


<div>
	<input type="button" id="generatelist" value="Generate Chest List"/>
	<input type="button" id="generatechart" value="Generate Instruction Chart"/>
	<input type="button" id="generatetextlist" value="Generate Text List"/>
	<!-- <input type="button" id="generatelist" value="Generate List"/> -->

</div>

<div id="item_list">
	Chart Here
</div>

<div id="chart" style="display: none">
	Sankey Chart
</div>

<div id="hover_name"></div>