<!-- <script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/sankey.js"></script> -->
<link rel="stylesheet" type="text/css" href="/items.css"> <%# This is a hack until we figure out how to get the sprite sheet generator working on asset precompile %>

<div class="header_bar">
	<a href="/" onClick="window.location.hash=''; window.location.reload()"><div class="home_button">Resource Calculator <span class="debossed">.com</span></div></a>
<!-- 	<a href="/" onClick="window.location.hash=''; window.location.reload()"><div class="home_button"> Reset Item Counts</div></a>
 -->	<div class="other_button" id="about_us_button">About Us</div><div style="clear:right"></div>
	<a href="mailto:admin@resourcecalculator.com?Subject=Resource%20Calculator%20Issue"><div class="other_button">Report An Issue</div></a>

</div>



<div id="content_field">


	<div class="psuedo_hidden"><input type="file" id="fileinput" /> </div>
	<div id="outputbox"><span style="color: #999">Link will generate here</span></div>



</div>
<div style="clear:both"></div>

<div class="instructions">Welcome to the structurefile upload beta!<br>
	If you notice any issues report them with the button in the top right<br></div>


<div class="generate_button" id="upload_structure">
    <span>Upload Structure</span>
</div>

<div class="advertisement">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Resource calculator -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8945065699951953"
	     data-ad-slot="8668920966"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>


<div class="instructions">
	Minecraft Structure File Locations<br>
	<b>Linux:</b> ~/.minecraft/saves/[WORLDNAME]/structures<br>
	<b>Mac:</b> ~/Library/Application Support/minecraft/saves/[WORLDNAME]/structures<br>
	<b>Windows:</b> %appdata%\.minecraft\saves\[WORLDNAME]\structures</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28401056-5', 'auto');
  ga('send', 'pageview');

</script>

<script>
var properties_map = <%= raw @properties.to_json %>;
var name_mappings = <%= raw @name_mappings.to_json %>;
</script>